@charset "UTF-8";

@font-face {
  font-family: Montserrat-Regular; 
  src: url(styles/fonts/MontserratAlternates-Regular.woff); 
  font-weight: 400;
 }

@font-face {
  font-family: Montserrat-Light; 
  src: url(styles/fonts/MontserratAlternates-Light.woff); 
  font-weight: 200;
 }

@font-face {
  font-family: Montserrat-Medium; 
  src: url(styles/fonts/MontserratAlternates-Medium.woff); 
  font-weight: 700;
 }

@font-face {
  font-family: Forum; 
  src: url(styles/fonts/Forum-Regular.woff); 
  font-weight: 400;
 }

:root {
  --text-color: #2B2B2B;
  --red: #A71A22;
  --back-color: #EEEBE8;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

body {
  height: 100%;
  width: 100%;

  font-size: 100%;
  font-size: 14px;



  color: var(--text-color);
}

input, button, textarea {
  font-family: inherit;
}


a, a:visited {
  text-decoration: none;
  color: var(--text-color);
}


ul li {
  list-style: none;
}

h1, 
h2 {
  font-family: 'Forum';
  font-weight: 400;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-family: 'Montserrat-Regular';
  font-weight: 400;
  font-size: 24px;
}

p {
  font-family: 'Montserrat-Light';
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5em;
}

.red {
  color: var(--red);
}

.header {
  padding-top: 10px;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  font-family: 'Montserrat-Light';
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5em;
}

.description a:hover {
  color: var(--red);
  font-family: 'Montserrat-Light';
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5em;
}

.search {
  font-family: 'Montserrat-Light';
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5em; 
}

.search-input {
  width: 100px;
}


.header-content {
  margin-top: 150px;
  margin-left: 220px;

  position: relative;

  height: 650px;
}

.btn-shop {
  background-image: url(styles/icons/button1.svg);
  background-repeat: no-repeat;

  margin-top: 60px;
  padding: 34px 62px 49px;

  width: 245px;
}

.btn-shop a {
  font-family: 'Montserrat-Regular';
  font-size: 22px;
  color: var(--red);
}

.btn-shop a:hover {
  color: var(--text-color);
}

img.arrow {
  padding-left: 15px;
  padding-bottom: 10px;
}

.menu {
  font-family: 'Montserrat-Light';
  font-weight: 300;
  font-size: 16px;

  margin-top: 50px;
}

.menu > ul > li {
  padding-bottom: 20px;
}

.menu > ul > li > a:hover {
  color: var(--red);
}

.header-img {
  position: absolute;

  left: 576px;
  top: 180px;
}

.news {
  background-color: var(--back-color);
}

.news-header {
  padding-top: 70px;
  text-align: center;
}

.news-header p {
  margin-top: 13px;
}

.news-header p:hover {
  color: var(--red);
}

.news-slider {

  display: flex;
  min-width: 0;

  justify-content: space-between;
  align-items: center;

  margin-top: 60px;
}

.news .btn-shop {
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
}

.item-description {
  margin-top: 16px;
}

.slider-price {
  font-family: 'Montserrat-Medium'; 

  margin-top: 8px;
}

.values-header {
  margin-top: 70px;
  text-align: center;
}

.values-header > p {
  margin-top: 13px;
}


.values-section1 {
  display: flex;
  align-items: center;

  margin-top: 70px;
}

.border {
  border: 10px var(--back-color) solid;
}

.values-content {
  width: 670px;
  height: 434px;
  
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 100px;
  padding-left: 70px;
}

.values-content p {
  margin-top: 30px;
}

.values-section {
  display: flex;  
  align-items: center;

  margin-top: 93px;
  margin-left: 50px;
}

.img2 {
  height: 340px;
}

.values-section3 {
  display: flex;
  align-items: center;

  margin-top: 93px;
}

.values-content3 {
  margin-left: 50px;
}

.values-content3 {
  width: 670px;
  height: 636px;

  padding-top: 80px;
  padding-left: 87px;
}

.values-content3 h2 {
  padding: 0;
  margin-left: 120px;
}

.values-content3 p {
  margin-top: 30px;
}

.img3 {
  height: 480px;
}

.values-content3 .btn-shop {
  margin: 50px 106px 0;
}

.values-content4 {
  width: 670px;
  height: 541px;

  padding-top: 100px;
  padding-left: 77px;
}

.bold {
  font-family: 'Montserrat-Medium';
}

.img4 {
  margin-left: 85px;
  height: 546px;
}

.values-content4 p {
  margin-top: 30px;
}

.promo {
  background-color: var(--back-color);
  margin-top: 150px;
  padding: 70px 120px;
  position: relative;
}

.btn-collection {
  background-image: url(styles/icons/btn-collection.svg);
  background-repeat: no-repeat;

  padding: 42px 62px 49px;

  width: 330px;
  position: absolute;
  bottom: 80px; 
  left: 564px;
}

.btn-collection a {
  font-family: 'Montserrat-Regular';
  font-size: 22px;
  color: white;
}

.btn-collection a:hover {
  color: var(--red);
}

.btn-shop a:hover {
  color: var(--text-color);
}

.arrow-white {
  padding-top: 15px;
  padding-left: 50px;
  padding-bottom: 20px;
}


.delivery {
  margin-top: 70px;
}

.delivery-header {
  text-align: center;
}

.delivery-header p {
  margin-top: 15px;
}

.delivery-content {
  margin-top: 50px;
  padding: 50px 32px;
  display: flex;
  justify-content: space-between;
}

.delivery-content p {
  padding-top: 20px;
}

.delivery-ul {
  font-family: 'Montserrat-Light';
  font-size: 16px;
  margin-top: 16px;
}

.delivery-ul li {
  line-height: 1.4em;
  margin-bottom: 16px;
}

.last-section {
  position: relative;
}

.last-section-header {
  margin-top: 50px;
  text-align: center;
}

.last-section-header p {
  margin-top: 13px;
}

.shop {
  margin-top: 64px;
  display: flex;
  align-items: center;
}

.shop-content {
  margin-left: 40px;
}

.shop-content h3 {
  margin-bottom: 16px;
}

.inst {
  margin-top: 100px;
}

.inst-img {
  display: flex;
  width: 450px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.img-element {
  margin: 20px;
}

.img-element:nth-child(odd) {
  margin-left: 0;
}

.mailing {
  position: absolute;
  right: 0;
  bottom: 50px;
}

.mailing-img {
  display: flex;
  align-items: center;
}

.mailing-img img {
  margin-left: 60px;
}

.mailing-content {
  padding-top: 40px;
  margin-left: 50px;
}

.mailing-content p {
  margin-top: 20px;
}

.email-input {
  display: flex;

  width: 550px;
  height: 60px;
  margin-top: 30px;
}

.email-input-text {
  display: block;
  width: 280px;
  height: 60px;

  padding-left: 18px;

  border: 1px #2B2B2B solid;
  font-family: 'Montserrat-Light';
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5em;
}

.email-input-text::placeholder {
  color: #AAA;
}

.email-input-btn {
  display: block;
  background-color: var(--red);
  width: 280px;

  font-family: 'Montserrat-Light';
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5em;
  color: white;
}

.email-input-btn:hover {
  background-color: #97080f;
}

.container-footer {
  background-color: var(--back-color);
  height: 150px;

  margin-top: 100px;
}

.footer {
  width: 1300px;

  display: flex;
  justify-content: space-between;
  
  padding: 46px 0;
  margin: 0 auto;
}

.email-link:hover {
  text-decoration: solid;
}

.footer-icons {
  margin-top: 2px;
}

.facebook-icon {
  margin-left: 18px;
}